div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section{
    width: 98vw;
    height: 88vh;
    background: #ba8bbe;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
form{
    padding: 50px;
    background: white;
    text-align: right;
}
p{
    font-size: 26px;
}
button{
    height: 40px;
    width: 100px;
    color: black;
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.cadastro{
  font-style: serif;
  background-color: white;
}

